body {
    width: auto;
    margin: 0;
    padding: 0%;
    margin: 0 auto;
    font-family: sans-serif;
    position: relative;
}

body * {
    box-sizing: border-box;
}

.esqueci-senha-principal {
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.esquerda-forget {
    width: 50vw;
    height: 100vh;
    background: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direita-forget {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.logoLA {
    width: 20vw;
    position: absolute;
}

.logoLA2 {
    width: 20vw;
    position: absolute;
    top: 10%;
}

.fundo {
    position: relative;
    width: 50vw;
    height: 100vh;
}

.direita-forget>h1 {
    color: #a9a9a9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.escreva {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 9pt;
    margin: 10px 0px;
    color: #696969;
}

.escreva>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #d3d3d3;
    color: #696969;
    font-size: 9pt;
    box-shadow: 0px 5px 10px #00000056;
    box-sizing: border-box;
}

.escreva>label {
    margin-bottom: 10px;
    color: #a9a9a9;
}

.botao-enviar {
    width: 80%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background: black;
    cursor: pointer;
    position: relative;
    left: 3%;
}

.botao-enviar:hover {
    background-color: #4682B4;
}