@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    width: auto;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    font-family:sans-serif;
    position: relative;
}
body * {
    box-sizing: border-box;
}
.principal-login{
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda-login{
    width: 50vw;
    height: 100vh;
    background: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direita-login{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.LogoLA{
    width: 20vw;
}
.LogoLA2{
    width: 15vw;
}
.Fundo{
    position: relative;
    width: 50vw;
    height: 100vh;
}
.Logobranca{
    position: absolute;
    width: 20vw;
}
.LogoGoogle{
    width: 2vw;
    cursor:pointer;
}
.LogoFacebook{
    width: 2vw;
    cursor:pointer;
}
.LogoLinkedin{
    width: 2vw;
    cursor:pointer;
}
.direita-login > h1{
    color: #a9a9a9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.principal-text{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 9pt;
    margin: 10px 0px;
}
.principal-text > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #d3d3d3;
    color: #696969;
    font-size: 9pt;
    box-shadow: 0px 5px 10px #00000056;
    box-sizing: border-box;
}
.principal-text > label{
    margin-bottom: 10px;
}
.card-login{
    color: #a9a9a9;
    width: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    margin: 0;
    font-size: 9pt;
}
.botao-login{
    width: 80%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background: black;
    cursor: pointer;
}
.botao-login:hover{
    background-color:#4682B4;
}
.Esqueceu-Senha{
    font-weight: 600;
    font-size: 9pt;
    cursor: pointer;
}
.Esqueceu-Senha:hover{
    color:#4682B4;
}
.Cadastro
{
    font-weight: 600;
    font-size: 9pt;
    cursor: pointer;
}
.Cadastro:hover{
    color:#4682B4;
}
.Other{
    font-weight: 600;
    font-size: 11pt;
}
@media only screen and (max-width: 950px){
    .card-login{
        width: 100%
    }
    .Deficiente{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .Deficiente{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .card-login{
        width: 90%;
    }
    .principal-text{
            width: 100%;
            height: auto;
    }
}