*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--bgColor);
}

header{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    -webkit-box-shadow: 1px 1px 20px 6px rgba(117, 117, 117, 0.25); 
    box-shadow: 1px 1px 20px 6px rgba(117, 117, 117, 0.25);
    z-index: 1000;
}
#logo{
    width: 7%;
}
#menu{
    width: 55vw;
}
#menu-itens{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#inicio{
    position: relative;
    left: 7vw;
}
.menu-item a{
    font-weight: 500;
    text-decoration: none;
    font-size: 0.95vw;
    color: #000;
    text-transform: var(--letraM);
}
.menu-item a:hover{
    color: var(--destaqueColor);
    transition: .4s all;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--destaqueColor);
}
.menu-item a:last-child {
    margin-left: 9vw;
}
#menu-item__button a{
    text-decoration: none;
    font-size: 0.95vw;
    text-transform: capitalize;
    color: var(--fontButtonColor);
    padding: 0.55vw 2vw;
    border-radius: 25px;
    background-color: var(--buttonColor);
}
#menu-item__button a:hover{
    transition: .3s all;
    background-color: var(--buttonEfeito);
}


.bannerPrincipal{
    background-color: var(--bgColor2);
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 28vw;
}
#bannerIlusra img{
    width: 36vw;
}
#banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#banner-texto h1{
    font-size: 1.8vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    text-align: center;
}
#banner-texto p{
    width: 32vw;
    font-size: 0.9vw;
    letter-spacing: 0.01vw;
    text-align: center;
    padding-bottom: 7vh;
}
.bannerCampoDeBusca{
    display: flex;
    align-items: center;
    width: 45vw;
    background-color: #fff;
    padding: 2.5vh 1.5vw;
    border-radius: 10px;
}
#input input{
    border: none;
    border-right: 2px solid var(--destaqueColor);
    margin-right: 2vw;
    width: 10vw;
    padding: 1vh 1vw;
    font-size: 1vw;
    outline: none;
    background: url(https://api.iconify.design/ei/search.svg?color=%23777&height=1) no-repeat left center / contain;
    background-size: 2vw;
}
#input input:focus{
    background: none;
}
.filtros form select{
    font-size: 0.8vw;
    color: var(--fontInputColor);
    width: 6.5vw;
    border: none;
    outline: none;
    margin-right: 1.1vw;
}
.filtros form:last-child{
    margin-right: 1.5vw;
}
.bannerCampoDeBusca button{
    border: none;
    background-color: var(--buttonColor);
    font-size: 0.8vw;
    color: var(--fontButtonColor);
    font-weight: 500;
    padding: 1.3vh 1.2vw;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.bannerCampoDeBusca button:hover{
    transition: .3s all;
    background-color: var(--buttonEfeito);
}
.bannerCampoDeBusca button:focus{
    transition: .3s all;
    background-color: var(--buttonEfeito);
}

.containerCards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 11vh 8vw 7vh 0;
}
.cardInfo{
    border: 2px solid var(--cinza);
    border-radius: 10px;
    background-color: #fff;
    width: 18vw;
    height: 35vh;
}

.cardInfo-img{
    padding: 1.2vw;
    background-color: #fff;
    border: 1px solid var(--cinza);
    border-radius: 100%;
}
.cardInfo-img img{
    width: 2vw;
    z-index: 10;
}
#img-busque{
    position: relative;
    bottom: 19vh;
    left: 16vw;
    z-index: 1;
}
#img-avalie{
    position: relative;
    bottom: 19vh;
    left: 16vw;
    z-index: 1;
}
#img-desfrute{
    position: relative;
    bottom: 19vh;
    left: 16vw;
    z-index: 1;
}

.cardInfo-texto{
    padding: 10vh 2vw;
    text-align: center;
}
.cardInfo-texto h2{
    font-size: 1.2vw;
    margin-bottom: 5vh;
}
.cardInfo-texto p{
    font-size: 0.82vw;
}

.cardLocalR-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 11vh 9vw 0 9vw;
}
.cardLocalR-titulo h2{
    font-size: 1.2vw;
}
.cardLocalR-titulo a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 0.8vw;
}
.cardLocalR-titulo a:hover{ color: var(--buttonEfeito);}

.cardLocalR{
    width: 20vw;
    height: 42vh;
    background-color: #fff;
    border: 1px solid var(--cinza);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 9vw;
}
.cardLocalR-img img{
    width: 20vw;
    border-radius: 5px;
}
.cardLocalR-nome h3{
    font-size: 1.1vw;
    margin: 1.5vh 1vw 3vh 1vw;
}
#museu h3{margin: 0.8vh 1vw 1.8vh 1vw;}
.cardLocalR-avaliacao img{
    width: 3.7vw;
    margin: 0 0 2vh 1vw;
}
.cardLocalR-tags{
    display: flex;
    align-items: center;
}
.tag{
    background-color: var(--tagColor);
    padding: 0.7vh 0.5vw;
    margin: 0 0 3vh 1vw;
    border-radius: 5px;
}
.tag p{
    font-size: 0.65vw;
}
.linkVerMais{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin: 20px 15px;
}
.linkVerMais:hover{
    color: var(--buttonColor);
}

#empresas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColor2);
    text-align: center;
    height: 55vh;
    margin-top: 12vh;
}
.empresas-texto h2{
    margin: 5vh 0 3vh 0;
    font-size: 1.1vw;
}
.empresas-texto p{
    width: 45vw;
    margin-bottom: 10vh;
    font-size: 0.84vw;
}

#rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #b0caf1;
    font-weight: 600;
    font-size: 0.8vw;
}


/*estilização do modal pop-up*/
.modal-container.mostrar{
    display: flex;
}
.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modalCard{
    background-color: var(--bgColor);
    border-radius: 5px;
    width: 70%;
    min-width: 600px;
    height: 80%;
    position: relative;

}
.modalCard-fechar{
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 10px;
    font-size: 12px;
    background-color: var(--bgColor2);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(117, 117, 117, 0.25);
    z-index: 1000;
}
.modalCard-fechar:hover{
    transition: .3s;
    background-color: var(--buttonColor);
    color: #fff;
}

.modalCard-conteudo{
    margin: 30px;
}
.conteudo-img img{
    position: relative;
    top: -30px;
    left: -30px;
    z-index: 1;
    border-radius: 5px;
}
.conteudo-titulo{
    position: absolute;
    top: 215px;
    z-index: 1000;
    font-size: 22px;
    color: var(--bgColor);
}
.conteudo-avaliar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
.conteudo-avaliar a{
    display: flex;
    align-items: center;
    color: var(--buttonColor);
    text-decoration: none;
}
.conteudo-avaliar img{
    width: 60px;
    margin-left: 15px;
}
.conteudo-infos h4{
    margin-bottom: 15px;
}
.conteudo-infos h4, .conteudo-infos strong{
    font-size: 13px;
    margin-right: 5px;
}
.conteudo-infos p{
    margin-bottom: 25px;
}
.conteudoInfos-tags{
    display: flex;
}
.conteudoInfos-tags p{
    margin-right: 15px;
    padding: 5px 10px;
    background-color: var(--tagColor);
    border-radius: 5px;
}