*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--bgColor);
}

header{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    -webkit-box-shadow: 1px 1px 20px 6px rgba(117, 117, 117, 0.25); 
    box-shadow: 1px 1px 20px 6px rgba(117, 117, 117, 0.25);
    z-index: 1000;
}
#logo{
    width: 115px;
}
#menu{
    width: 800px;
}
#menu-itens{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#inicio{
    position: relative;
    left: 90px;
}
.menu-item a{
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    text-transform: var(--letraM);
}
.menu-item a:hover{
    color: var(--destaqueColor);
    transition: .4s all;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--destaqueColor);
}
.menu-item a:last-child {
    margin-left: 130px;
}
#menu-item__button a{
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--fontButtonColor);
    padding: 8px 30px;
    border-radius: 25px;
    background-color: var(--buttonColor);
}
#menu-item__button a:hover{
    transition: .3s all;
    background-color: var(--buttonEfeito);
}


.bannerPrincipal{
    background-color: var(--bgColor2);
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 28vw;
}
#banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#banner-texto h1{
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
#banner-texto p{
    width: 500px;
    font-size: 14px;
    letter-spacing: .5px;
    text-align: center;
    padding-bottom: 80px;
}
.bannerCampoDeBusca{
    display: flex;
    align-items: center;
    width: 700px;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 10px;
    
}
#input input{
    border: none;
    border-right: 2px solid var(--destaqueColor);
    margin-right: 25px;
    width: 170px;
    padding: 10px 20px;
    font-size: 12px;
    outline: none;
    background: url('https://api.iconify.design/ei/search.svg?color=%23777&height=1') no-repeat left center / contain;
    background-size: 30px;
}
#input input:focus{
    background: none;
}
.filtros form select{
    font-size: 12px;
    color: var(--fontInputColor);
    width: 110px;
    border: none;
    outline: none;
    margin-right: 10px;
}
.filtros form:last-child{
    margin-right: 30px;
}
.bannerCampoDeBusca button{
    border: none;
    background-color: var(--buttonColor);
    font-size: 12px;
    color: var(--fontButtonColor);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.bannerCampoDeBusca button:hover{
    transition: .3s all;
    background-color: var(--buttonEfeito);
}
.bannerCampoDeBusca button:focus{
    transition: .3s all;
    background-color: var(--buttonEfeito);
}

.containerCards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 120px 50px 120px;
}
.cardInfo{
    border: 2px solid var(--cinza);
    border-radius: 10px;
    background-color: #fff;
    width: 280px;
    height: 300px;
}

.cardInfo-img{
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--cinza);
    border-radius: 100%;
}
.cardInfo-img img{
    width: 40px;
    z-index: 10;
}
#img-busque{
    position: absolute;
    top: 560px;
    left: 300px;
    z-index: 1;
}
#img-desfrute{
    position: absolute;
    top: 560px;
    left: 750px;
    z-index: 1;
}
#img-avalie{
    position: absolute;
    top: 560px;
    right: 300px;
    z-index: 1;
}

.cardInfo-texto{
    padding: 80px 32px;
    text-align: center;
}
.cardInfo-texto h2{
    margin-bottom: 40px;
}
.cardInfo-texto p{
    font-size: 14px;
}

.cardLocalR-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 170px 0px 170px;
}
.cardLocalR-titulo a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.cardLocalR-titulo a:hover{ color: var(--buttonEfeito);}
.cardLocalR{
    width: 318px;
    height: 305px;
    background-color: #fff;
    border: 1px solid var(--cinza);
    border-radius: 5px;
    cursor: pointer;
}
.cardLocalR-img img{
    width: 318px;
    border-radius: 5px;
}
.cardLocalR-nome h3{
    font-size: 20px;
    margin: 12px 20px 26px 15px;
}
#museu h3{ margin: 5px 20px 10px 20px;}
.cardLocalR-avaliacao img{
    width: 65px;
    margin: 0 20px 10px 15px;
}
.cardLocalR-tags{
    display: flex;
    align-items: center;
}
.tag{
    background-color: var(--tagColor);
    padding: 5px 8px;
    margin: 0 10px 20px 15px;
    border-radius: 5px;
}
.tag p{
    font-size: 10px;
}
.linkVerMais{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin: 20px 15px;
}
.linkVerMais:hover{
    color: var(--buttonColor);
}

#empresas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColor2);
    text-align: center;
    height: 500px;
    margin-top: 100px;
}
.empresas-texto h2{
    margin: 40px 0 20px 0;
}
.empresas-texto p{
    width: 800px;
    margin-bottom: 80px;
}

#rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #b0caf1;
    font-weight: 600;
}


/*estilização do modal pop-up*/
.modal-container.mostrar{
    display: flex;
}
.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modalCard{
    background-color: var(--bgColor);
    border-radius: 5px;
    width: 70%;
    min-width: 600px;
    height: 80%;
    position: relative;

}
.modalCard-fechar{
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 10px;
    font-size: 12px;
    background-color: var(--bgColor2);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(117, 117, 117, 0.25);
    z-index: 1000;
}
.modalCard-fechar:hover{
    transition: .3s;
    background-color: var(--buttonColor);
    color: #fff;
}

.modalCard-conteudo{
    margin: 30px;
}
.conteudo-img img{
    position: relative;
    top: -30px;
    left: -30px;
    z-index: 1;
    border-radius: 5px;
}
.conteudo-titulo{
    position: absolute;
    top: 215px;
    z-index: 1000;
    font-size: 22px;
    color: var(--bgColor);
}
.conteudo-avaliar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
.conteudo-avaliar a{
    display: flex;
    align-items: center;
    color: var(--buttonColor);
    text-decoration: none;
}
.conteudo-avaliar img{
    width: 60px;
    margin-left: 15px;
}
.conteudo-infos h4{
    margin-bottom: 15px;
}
.conteudo-infos h4, .conteudo-infos strong{
    font-size: 13px;
    margin-right: 5px;
}
.conteudo-infos p{
    margin-bottom: 25px;
}
.conteudoInfos-tags{
    display: flex;
}
.conteudoInfos-tags p{
    margin-right: 15px;
    padding: 5px 10px;
    background-color: var(--tagColor);
    border-radius: 5px;
}